@font-face {
  font-family: "vazirmatn";
  src: url(./assets/fonts/IRANSansX-Black.woff) format(Truetype);
}

* {
  font-family: "vazirmatn", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  border-radius: 20px;
}
